subject = "Please validate your email"
==

Hello {{- name -}},

This is a message to inform you that must validate your email account with this code.

{{- code -}}
==

<p>Hello {{- name -}},</p>

<p>This is a message to inform you that must validate your email account with this code.</p>

<p>{{- code -}}</p>