<div class="orbit showcase" role="region" aria-label="Favorite Space Pictures" data-orbit>
<ul class="orbit-container">
    {% if __SELF__.images()|length > 1 %}
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    {% endif %}
    {% for image in __SELF__.images() %}
    <li class="orbit-slide">
        {% if __SELF__.property('withOverlay') %}
        <div class="orbit-image" style="background:linear-gradient(rgba(192, 192, 192, 0.25), rgba(192, 192, 192, 0.25)), url({{image.url}});
        height:{{__SELF__.property('height')}}" alt="">
        {% else %}
        <div class="orbit-image" style="background-image:url({{image.url}});
        height:{{__SELF__.property('height')}}" alt="">
        {% endif %}
            {% if __SELF__.property('showViewText') %}
                <a href="{{image.url|raw}}" data-lightbox="{{image.url|raw}}">{{__SELF__.property('viewText')}}</a>
            {% endif %}
        </div>
        {% if image.description %}
        <figcaption class="orbit-caption">{{image.description}}</figcaption>
        {% endif %}
    </li>
        {% endfor %}
</ul>
</div>
<style>

.orbit.showcase {
    height: {{__SELF__.property('height')}} !important;
    background: transparent;
    width: 100%;
}

.orbit.showcase .orbit-image, .orbit.showcase .orbit-overlay {
    z-index: -1;
}

.orbit .orbit-image {
    display: flex;
    color: #fff !important;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 250ms linear;
}

.orbit .orbit-image:hover {
    background-size: 110% auto;
}

.orbit.showcase .orbit-image>div.column>div.grid-x>div.column:first-child {
    padding: 0 3rem 3rem 3rem;
}

.orbit-previous {
    margin-left: 1rem;
}

.orbit-next {
    margin-right: 1rem;
}

.orbit-previous, .orbit-next {
    opacity: 0.25;
    transition: opacity 250ms;
}

.orbit-previous:hover, .orbit-next:hover {
    opacity: 1;
}

.orbit-image a {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    opacity: 0.25;
    transition; opacity 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms ease, color 150ms ease, background 500ms ease;
}

.orbit-image:hover a {
    opacity: 1;
    color: #fff !important;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) !important;
}

.orbit-image p.description {
    font-weight: 400;
    font-size: 3rem;
    margin-top: -1rem;
    margin-bottom: -0.25rem;
    line-height: 3rem;
}

.orbit.showcase .orbit-slide {
    height: 100%;
}

.orbit .orbit-container {
    height: 100% !important;
    width: 100%;
}

.orbit .orbit-slide {
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.jslghtbx-contentwrapper, .jslghtbx {
    z-index: 1000 !important;
}

.jslghtbx img {
    margin-top: auto !important;
}

@media screen and (max-width: 38.9375em) {
    .orbit.showcase .orbit-image>div.column>div.grid-x>div.column:first-child {
        padding: 0 1rem 3rem 1rem !important;
    }

    .orbit.showcase {
        width: 100vw;
        margin-right: -0.9375rem;
        margin-left: -0.9375rem;
    }

	.orbit .orbit-image {
		background-size: auto 100%;
	}

	.orbit .orbit-image:hover {
		background-size: auto 110%;
	}
}
</style>
<script>
window.addEventListener('load', function() {
    lightbox.option({
        maxImgSize: 1,
        responsive: false,
        resizeDuration: 200,
        wrapAround: true
    });
}, true);
</script>
