{% set component=__SELF__.component %}

{% if component.pagination.total > component.pagination.count %}
    <ul class="pagination">
        {% if component.pagination.current > 1 %}
            <li>
                <a href="{{ __SELF__.component.getRoute()|page({ (pageParam): (component.pagination.current-1) }) }}"
                data-request="{{component}}::{{__SELF__.action}}"
                data-attach-loading
                data-request-flash
                data-request-data="page: {{component.pagination.previous}}">
                    &larr; Prev
                </a>
            </li>
        {% endif %}

        {% for page in 1..component.pagination.last %}
            <li class="{{ component.pagination.current == page ? 'current disabled' : null }}">
                {% if component.pagination.current == page %}
                    <a class="disabled" href="{{ __SELF__.component.getRoute()|page({ (pageParam): page }) }}">
                        {{ page }}
                    </a>
                {% else %}
                    <a href="{{ __SELF__.component.getRoute()|page({ (pageParam): page }) }}"
                    data-request="{{component}}::{{__SELF__.action}}"
                    data-attach-loading
                    data-request-flash
                    data-request-data="page: {{page}}">
                        {{ page }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}

        {% if component.pagination.last > component.pagination.current %}
            <li>
                <a href="{{ __SELF__.component.getRoute()|page({ (pageParam): (component.pagination.current+1) }) }}"
                data-request="{{component}}::{{__SELF__.action}}"
                data-attach-loading
                data-request-flash
                data-request-data="page: {{component.pagination.next}}">
                    Next &rarr;
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
