<style type="text/css">
    b.ok {
        color: green;
    }
    b.fail {
        color: #C30;
    }
</style>
<p>
    <i><?= trans('nitm.api::lang.blacklist.usage1') ?></i><br>
    <i><?= trans('nitm.api::lang.blacklist.usage2') ?></i><br>
    <i><?= trans('nitm.api::lang.blacklist.usage3') ?></i><br>
    <i><?= trans('nitm.api::lang.blacklist.usage4') ?></i><br>

    <ul style="margin-left: -10px; list-style-type: circle;">
        <li><b class="ok">80.140.*.*</b> rule will match IP <b class="ok">80.140.2.2</b></li>
        <li><b class="fail">80.140.*.*</b> rule will NOT match IP <b class="fail">80.141.2.2</b></li>
        <li><b class="ok">80.140/16</b> rule will match IP <b class="ok">80.140.2.3</b></li>
        <li><b class="ok">1.2.3.0-1.2.255.255</b> rule will match IP <b class="ok">1.2.3.4</b></li>
        <li><b class="fail">80.140.0.0-80.140.255.255</b> rule will NOT match IP <b class="fail">90.35.6.12</b></li>
        <li><b class="ok">80.76.201.32/27</b> rule will match IP <b class="ok">80.76.201.37</b></li>
        <li><b class="fail">80.76.201.32/27</b> rule will NOT match IP <b class="fail">81.76.201.37</b></li>
        <li><b class="ok">80.76.201.32/255.255.255.224</b> rule will match IP <b class="ok">80.76.201.38</b></li>
        <li><b class="ok">80.76.201.32/255.255.255.*</b> rule will match IP <b class="ok">80.76.201.39</b></li>
        <li><b class="fail">80.76.201.64/27</b> rule will NOT match IP <b class="fail">80.76.201.40</b></li>
        <li><b class="fail">192.168.3.0/24</b> rule will NOT match IP <b class="fail">192.168.1.42</b></li>
        <li><b class="ok">127.0.0.0-129.0.0.0</b> rule will match IP <b class="ok">128.0.0.0</b></li>
    </ul>
</p>
