<p>
    <ul style="margin-left:-10px; list-style-type: circle;">
        <li><?= trans('nitm.api::lang.blacklist.desc1') ?></li>
        <li><?= trans('nitm.api::lang.blacklist.desc2') ?></li>
    </ul>
</p>
