{% for group in __SELF__.posts() %}
<div class="grid-x">
    <div class="cell small-12 medium-4">
       <div class="post">
           <div class="image">
               <img src="{{post.image}}" />
           </div>
           <div class="author">
              <span class="create-info">{{post.author.name ? post.author.name : __SELF__.property('defaultAuthor')}} | {{post.date}}</span>
           </div>
           <h5 class="title">{{post.title}}</h5>
           <p class="excerpt">{{post.excerpt}}</p>
           <a href="{{'post'|page({id: post.slug})}}">...read more</a>
       </div>
   </div>
</div>
{% endfor %}
 <style>

 .post-metadata {
     line-height: 1.25rem;
 }

.post-image {
    height: 400px;
    background: #ddd;
}

.post-image a {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    opacity: 0.25;
    transition; opacity 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms ease, color 150ms ease, background 500ms ease;
}

.post-image:hover a {
    opacity: 1;
    color: #fff !important;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) !important;
}

.post-image:hover {

}
 .post {
     height: 500px;
 }
 @media screen and (max-width: 38.9375em) {
    .post {
        height: auto;
        min-height: 325px;
    }
}
 </style>
