<div class="orbit blog-entries" role="region" aria-label="blogs" data-orbit>
    <ul class="orbit-container">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        {% for post in __SELF__.posts() %}
           <li class="orbit-slide">
               <div class="grid-x medium-collapse" style="margin: auto">
                <div class="cell small-12 medium-4">
                   <div class="post">
                       <div class="image">
                           <img src="{{post.image}}" />
                       </div>
                       <div class="author">
                          <span class="create-info">{{post.author.name ? post.author.name : __SELF__.property('defaultAuthor')}} | {{post.date}}</span>
                       </div>
                       <h5 class="title">{{post.title}}</h5>
                       <p class="excerpt">{{post.excerpt}}</p>
                       <a href="{{'post'|page({id: post.slug})}}">...read more</a>
                   </div>
               </div>
            </div>
        </li>
        {% endfor %}
    </ul>
 </div>
