<?php foreach ((array) $field->options as $key => $name): ?>
   <?php
       $fieldName = $field->arrayName.'['.$field->fieldName.']['.$name.']';
       $id = $field->fieldName.'-'.$name;
   ?>
   <label class="col-md-3 col-lg-4 col-sm-12">
      <?= trans(ucfirst($key)) ?> : <strong><span id='<?= $id ?>-display'><?= $model->{$field->fieldName.'.'.$name}?></span></strong>
      <input id='<?=$id?>' class="form-control location-input" type='hidden' name='<?=$fieldName ?>'>
   </label>
<?php endforeach; ?>
<script type="text/javascript">
$('.location-input').on('change', function (event) {
   let $elem = $(event.target);
   let $display = $('#'+$elem.prop('id')+'-display');
   $display.html($elem.val());
});
</script>
