<br>
{% set project=__SELF__.project.toArray() %}
<div class="grid-x section project">
    {% if project %}
    <div class="cell small-12 content-padding">
        <div class="flex flex-start flex-column">
            <h1 class="title serif strong">{{project.title}}</h1>
            <span class="project-client-date">
                {{project.title}}<br>{{project.year}}
            </span><br>
        </div>
        <br>
    </div>
    <div class="cell small-12">
        {% component 'gallery' height='60vh' %}
    </div>
    <div class="cell small-12 medium-8 medium-offset-2">
        <br>
        <p>{{project.description|raw}}</p>
        <div>
            {% for label in project.types %}
            <label class="label">{{label.title}}</label>
            {% endfor %}
        </div>
    </div>
    <div class="cell small-12 medium-8 medium-offset-2">
        <br>
        <h2 class="title serif strong">About Client</h2>
        <div class="client-description">
            <div class="client-image">
                <img src="{{project.client.avatar.url | raw}}"/>
            </div>
            {{project.client.description | raw}}
        </div>
    </div>
    <div class="cell small-12 medium-8 medium-offset-2">
        <br>
        <h2 class="title serif strong">Methodology</h2>
        <p>{{project.methods | raw}}</p>
    </div>
    <div class="cell small-12 medium-8 medium-offset-2">
        <br>
        <h2 class="title serif strong">Results</h2>
        <p>{{project.results | raw}}</p>
    </div>
    <div class="cell small-12">
        {% partial "@nav" content=__SELF__.navigation() %}
    </div>
    {% else %}
    <div class="cell small-12">
        Project not found
    </div>
    {% endif %}
</div>



<style>
    .project {
        height: auto !important;
    }

    .project-client-date {
        margin-top: -20px;
    }

    .project .speakers .avatar {
        width: 3rem;
        height: 3rem;
    }

    .project h3, .even h4 {
        text-transform: uppercase;
        line-height: 0.5rem;
    }
    .project .image {
        height: 400px;
        width: 100%;
        overflow: hidden;
        background-color: rgba(204, 204, 204, 1);
    }

    .project .image img {
        height: auto;
        max-height: 400px;
        width: auto;
        min-width: 400px;
        max-width: 1000% !important;
    }

    .project .client-description {
        display: flex;
        align-items: center;
    }

    .project .client-image {
        border-radius: 50%;
        width: 100px;
        height: auto;
        margin-right: 20px;
        display: inline-block;
    }
</style>