<!-- Switch -->
<div class="field-switch">
</div>

<input
    type="hidden"
    name="switch"
    value="0"
    <?= $this->previewMode ? 'disabled="disabled"' : '' ?>
>

<label
    class="custom-switch"
    <?= $this->previewMode ? 'onclick="return false"' : '' ?>
>
    <input
        id="<?= $column->getName() ?>_<?= $record->id ?>"
        name="<?= $column->getName() ?>"
        role="<?= array_get($column->config, 'config.handler', null);?>"
        data-request="<?= array_get($column->config, 'config.handler', 'onSwitchChange');?>"
        data-request-data="<?= array_get($column->config, 'config.idField', 'id');?>: <?= $record->id ?>, col: '<?= $column->getName() ?>', target: '#<?= $column->getName() ?>_<?= $record->id ?>'"
        data-request-success="handleSwitchSuccess(this, data);"
        type="checkbox"
        value="<?= $value ?>"
        <?= $this->previewMode ? 'readonly="readonly"' : '' ?>
        <?= ($value ?? $record->{$column->getName()}) == true ? 'checked="checked"' : '' ?>
    >
    <span><span><?= e(trans('backend::lang.form.field_on')) ?></span><span><?= e(trans('backend::lang.form.field_off')) ?></span></span>
    <a class="slide-button"></a>
</label>

<script type="text/javascript">
    if (!window.handleSwitchSuccess) {
        var handleSwitchSuccess = function (elem, data) {
            let $this = $(this),
                $elem = $(elem);
            $elem.attr('value', data['value']);
            let $roles = $($this.attr('role')).not($this.attr('id'));
            if ($roles.length) {
                $roles.attr('checked', !data['value']);
            }
        }
    }
</script>