<div data-owl="address" data-alias="<?= $this->alias ?>">
    <?php
        $realValue = $this->model->location ? $this->model->location->address : $value;
    ?>

    <?php if ($this->previewMode): ?>
        <div class="form-control"><?= e($value) ?></div>
    <?php else: ?>
        <div
            id="<?= $this->getId() ?>"
            class="field-google-place">
            <input
                name="<?= $name ?>"
                id="<?= $this->getId('textarea') ?>"
                value="<?= e($realValue) ?>"
                class="form-control"
                data-control="locationAutocomplete"
                <?= $field->getAttributes() ?>
                <?= $this->getFieldMapAttributes() ?>
                />
        </div>
    <?php endif ?>

</div>
