<div id="{{__SELF__.containerId}}" class="b__profile-items">
    <div class="b__items-fast-filter">
        <ul>
            <li class="{{ not __SELF__.listType ? 'active' : '' }}">
                <a 
                data-request="onMore"
                data-request-data="id:{{__SELF__.profile.id}}"
                data-attach-loading>All</a>
            </li>
            {% if __SELF__.types %}
                {% for type in __SELF__.types %}
                <li class="{{ type.type == __SELF__.listType ? 'active' : '' }}">
                    <a href="#"
                    data-request="onMore"
                    data-request-data="id:'{{profile.id}}', type:'{{type.type}}'"
                    data-attach-loading>
                        {% if type.count %}
                            For {{type.title}} ({{type.count}})
                        {% else %}
                            For {{type.title}}
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% partial '@postings' postings=__SELF__.postings pagination=__SELF__.pagination type='all' profile=__SELF__.profile %}
</div>