<div id="postings{{__SELF.profile.id}}" class="b__items b__items--grid">
    {% if postings|length %}
        {% for posting in postings %}
        <div class="b__items_item">
            <div class="item-thumbnail">
                <div class="item-university item-university--{{posting.author.school.slugId}}">
                    <span>{{posting.author.school.shortTitle}}</span>
                </div>
                <img src="{{posting.mainImage.path}}" alt="{{posting.title}}" />
            </div>
            <div class="item-content">
                <div class="item-title"><a href="{{ 'posting'|page({id: posting.id})}}">{{posting.title}}</a></div>
                <div class="item-description">{{posting.description}}</div>
                <div class="item-place">
                    <svg class="icon icon--item-place-marker">
                        <use xlink:href="#icon--item-place-marker"></use>
                    </svg>
                    <span>1</span>
                </div>
                <div class="item-author">
                    <div class="item-author_photo">
                    <img src="{{posting.author.avatar.path}}" />
                    </div>
                    <div class="item-author_description">
                    <div class="item-author_name">{{posting.author.name}}</div>
                    <div class="item-author_place">{{posting.author.location}}</div>
                    </div>
                </div>
                <div class="item-price">
                    {% if posting.forRent %}
                        <a href="#" class="btn btn--rent">Rent</a>
                    {% elseif posting.forExchange %}
                        <a href="#" class="btn btn--ecchange">Exchange</a>
                    {% elseif posting.forRepair %}
                        <a href="#" class="btn btn--repair">Repair</a>
                    {% elseif posting.forDonation %}
                        <a href="#" class="btn btn--donate">Donate</a>
                    {% else %}
                        <a href="#" class="btn btn--price">${{posting.price}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="b__items-controls">
            {% component moreButton ? moreButton : 'moreButton' %}
        </div>
    {% else %}
    <div class="b__items_item b__items_item--no-content">
        <div class="content-vertical">
            <p>
                {{profile.name ?: profile.title}} doesn't have any postings <strong>{{listTypeName}}</strong> yet
            </p>
        </div>
    </div>
    {% endif %}
</div>