<div class="report-widget">
    <h3 style="margin-bottom:5px;"><?= e(trans($this->property('title'))) ?></h3>

    <div style="clear:both;"></div>
    <br>

    <div class="table-container">
        <table class="table data" data-provides="rowlink">
            <thead>
                <tr>
                    <th><span><?= e(trans('nitm.api::lang.logs.created_at')) ?></span></th>
                    <th><span><?= e(trans('nitm.api::lang.logs.request_method')) ?></span></th>
                    <th><span><?= e(trans('system::lang.request_log.status_code')) ?></span></th>
                    <th><span><?= e(trans('nitm.api::lang.logs.ip_address')) ?></span></th>
                    <th><span><?= e(trans('nitm.api::lang.logs.timepassed')) ?></span></th>
                    <th><span><?= e(trans('nitm.api::lang.logs.details')) ?></span></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach( $all_logs as $log ): ?>
                <tr>
                    <td><?= date_format(date_create($log->created_at), 'j F Y\, l h:i:s A') ?></td>
                    <td><?= $log->request_method ?></td>
                    <td><?= $log->status_code ?></td>
                    <td><?= $log->ip ?></td>
                    <td <?= ($log->timepassed > 5 ? 'style="color: #c30;"' : '') ?> >
                        <?= $log->timepassed ?>
                    </td>
                    <td>
                        <a
                            href="<?= URL::to('backend/nitm/api/history/preview/'.$log->id); ?>"
                            class="btn btn-primary btn-sm oc-icon-asterisk"
                            style="color: #fff;">
                            <?= e(trans('nitm.api::lang.logs.show_detail')) ?>
                        </a>
                    </td>
                </tr>
                <?php endforeach ?>
            </tbody>
        </table>
    </div>

</div>

