{% if __SELF__.component.pagination().current < __SELF__.component.pagination.last %}
    <div id="more-button-{{__SELF__.action}}-container">
        <button data-request="{{__SELF__.component}}::{{__SELF__.action}}"
        data-attach-loading
        data-request-flash
        data-request-before-update="beforeMore(context, data, textStatus, jqXHR)"
        data-request-data="page: {{__SELF__.component.pagination.next}}"
        data-request-success="afterMore(context, data, textStatus, jqXHR)"
        class="{{__SELF__.buttonClass}}"
        id="more-button-{{__SELF__.action}}">
            {{__SELF__.buttonSvg|raw}}
            {{__SELF__.text|raw}}
        </button>
    </div>
    <script>
        function beforeMore(context, data, textStatus, jqXHR) {
            document.querySelector('{{__SELF__.containerId}}').querySelector('#more-button-{{__SELF__.action}}-container').remove();
        }
        function afterMore(context, data, textStatus, jqXHR) {
            let appendMore = {{__SELF__.appendMore()}};
            if(appendMore != 1) {
                let container = document.querySelector('{{__SELF__.containerId}}');
                let containerTop = container.scrollTop;
                if(containerTop === undefined) {
                    container = document;
                }
                console.log(container);
                container.scrollIntoView({behavior: 'smooth'});
            }
        }
    </script>
{% endif %}
