<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('nitm/api/eventhistory') ?>"><?= e(trans('nitm.api::lang.eventlogs.page_title')) ?></a></li>
        <li><?= e(trans($this->pageTitle)) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="scoreboard">
        <div data-control="toolbar">
            <div class="scoreboard-item title-value">
                <h4><?= e(trans('system::lang.request_log.id_label')) ?></h4>
                <p>#<?= $formModel->id ?></p>
            </div>
            <div class="scoreboard-item title-value">
                <h4><?= e(trans('system::lang.request_log.status_code')) ?></h4>
                <p><?= $formModel->status ?></p>
            </div>
            <div class="scoreboard-item title-value">
                <h4><?= e(trans('nitm.api::lang.eventlogs.method')) ?></h4>
                <p><?= $this->getSendmethodOptions( $formModel->sendmethod ) ?></p>
            </div>
        </div>
    </div>

    <div class="layout-item stretch layout-column">
        <?= str_ireplace(' -|- ', '<br><br>', $this->formRenderPreview()) ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>

<?php endif ?>

<p>
    <a href="<?= Backend::url('nitm/api/eventhistory') ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('system::lang.request_log.return_link')) ?>
    </a>
</p>
