<?php if (count($formModel->referer) > 0): ?>
    <div class="form-control control-simplelist with-icons">
        <ul>
            <?php foreach ((array) $formModel->referer as $referer): ?>
                <li class="oc-icon-file-o"><?= $referer ?></li>
            <?php endforeach ?>
        </ul>
    </div>
<?php else: ?>
    <div class="form-control"><em style="color: #C30;"><?= e(trans('nitm.api::lang.logs.no_referer')) ?></em></div>
<?php endif ?>
