<?php if (count($formModel->browser) > 0): ?>
    <div class="form-control control-simplelist with-icons">
        <ul>
            <?php foreach ((array) $formModel->browser as $browser): ?>
                <li class="oc-icon-globe"><?= $browser ?></li>
            <?php endforeach ?>
        </ul>
    </div>
<?php else: ?>
    <div class="form-control"><em style="color: #C30;"><?= e(trans('nitm.api::lang.logs.no_browser')) ?></em></div>
<?php endif ?>
