<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('nitm/api/history') ?>"><?= e(trans('nitm.api::lang.logs.page_title')) ?></a></li>
        <li><?= e(trans($this->pageTitle)) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="scoreboard">
        <div data-control="toolbar">
            <div class="scoreboard-item title-value">
                <h4><?= e(trans('system::lang.request_log.id_label')) ?></h4>
                <p>#<?= $formModel->id ?></p>
            </div>
            <div class="scoreboard-item title-value">
                <h4><?= e(trans('system::lang.request_log.status_code')) ?></h4>
                <p><?= $formModel->status_code ?></p>
            </div>
            <div class="scoreboard-item title-value">
                <h4><?= e(trans('nitm.api::lang.logs.request_method')) ?></h4>
                <p><?= $formModel->request_method ?></p>
            </div>
            <div class="scoreboard-item title-value">
                <h4><?= e(trans('nitm.api::lang.logs.timepassed')) ?></h4>
                <p <?php echo ( $formModel->timepassed > 2 ? 'style="color: #C30;"' : '') ?> >
                    <?= round($formModel->timepassed, 3) ?> (sec.)
                </p>
            </div>
        </div>
    </div>

    <div class="layout-item stretch layout-column">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>

<?php endif ?>

<p>
    <a href="<?= Backend::url('nitm/api/history') ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('system::lang.request_log.return_link')) ?>
    </a>
</p>
